p{
    margin-top:0px;
    margin-bottom:0px;
}

body{
    font-family: Roboto, Arial;
    background-color:rgb(247, 247, 247);
    margin:0px;
    padding-top:80px;
    padding-left:95px;
    padding-right:25px;
    padding-bottom:300px;
}