.header{
    display:flex;
    flex-direction:row;
    height:55px;
    justify-content:space-between;
    position:fixed;
    z-index:100;
    top:0;
    left:0;
    right:0;
    background-color:white;
    border-bottom:solid;
    border-bottom-width:1px;
    border-bottom-color:rgba(204, 204, 204, 0.799);
    
}
.left-header{
    display:flex;
    align-items:center;
}
.hamburger-menu{
    margin-left:24px;
    margin-right:21px;
    height:24px;
}
.youtube-logo{
    height:20px;
}
.middle-header{
    display:flex;
    flex:1;
    max-width:475px;
    margin-left:70px;
    margin-right:35px;
    align-items: center;
}
.search-bar{
    height:40px;
    border-color:rgb(203, 203, 203);
    border-style:solid;
    width:0px;
    flex:1;
    border-width:1px;
    box-shadow:inset 1px 1px 2px rgba(0,0,0,0.05);
    font-size: 16px;
    padding-left:8px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.search-bar::placeholder{
    padding-left:5px;
    font-size:16px;
    color:gray;
}
.search-button{
    width:60px;
    height:40px;
    margin-right:10px;
    margin-left:-1px;
    background-color: rgba(213, 213, 213, 0.229);
    border-color:rgb(203, 203, 203);
    border-style:solid;
    border-width:1px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip{
    position:absolute;
    bottom:-50px;
    background-color:rgba(99, 99, 99, 0.816);
    color:white;
    font-size:12px;
    font-weight:lighter;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:8px;
    padding-right:8px;
    border-radius:2px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space:nowrap;
}
.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip{
    opacity:1;
}
.search-button, 
.voice-search-button,
.upload-container,
.youtube-apps-container,
.notifications-container{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.search-icon{
    height:24px;
}
.voice-search-button{
    width:40px;
    height:40px;
    border-radius:25px;
    border:none;
    background-color: rgba(224, 224, 224, 0.229);
}
.voice-search-icon{
    height:20px;
}
.right-header{
    width:180px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:25px;
    flex-shrink:0;
}
.upload{
    height:24px;
}
.youtube-apps{
    height:24px;
}
.notifications-container{
    position:relative;
}
.notifications{
    height:24px;
}
.notifications-count{
    font-weight:500;
    font-size:10px;
    position:absolute;
    background-color:rgb(189, 1, 1);
    color:white;
    top:-1px;
    right:-5px;
    padding-right:5px;
    padding-left:5px;
    padding-top:1px;
    padding-bottom:1px;
    border-radius:10px;
}
.current-user-profile-pic{
    height:32px;
    border-radius:20px;
}

